<div class="mt-3">
  <ol class=" d-flex flex-column " style="list-style-type: none;">
  {{#each posts as |post|}}
  <li class="rounded border m-1 text-center" style="background: rgba(180, 180, 180, 0.5)">
  {{> post-info post}} 
  </li>
  {{/each}}
</ol>
</div>
