<div class="row">
<form class="login-form col rounded border" style="background: rgba(180, 180, 180, 0.5)">
  <div class="d-flex align-items-center flex-column">
  <div>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" class="mb-3"/>
  </div>
  <div>
    <button type="submit" class="btn btn-secondary">login</button>
  </div>
  </div>
</form>

<form class="signup-form col rounded border p-0" style="background: rgba(180, 180, 180, 0.5)">
  <div class="d-flex align-items-center flex-column">
  <div> 
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" class="mb-3"/>
  </div>
  <div>
    <button type="submit" class="btn btn-secondary" id="create">signup</button>
  </div>
  </div>
</form>
</div>
<script src="/javascript/login.js"></script>